<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.address.mapper.SpcRegionMapper">

    <sql id="regionColumns">
        r.region_id as segmId,
        r.super_region_id as parentSegmId,
        r.region_name as segmName,
        r.region_name as standName,
        r.region_no as segmNo,
        null as segmType,
        null as addrLevel,
        r.grade_id as gradeId,
        r.region_id as regionId,
        r.notes as notes
    </sql>

    <sql id="regionEntityColumns">
        region_id,
        super_region_id,
        region_name,
        region_no,
        notes
    </sql>

    <sql id="regionLevelFilter">
        <choose>
            <when test="bo != null and bo.segmType == '180000'">
                and r.grade_id = 2000002
            </when>
            <when test="bo != null and bo.segmType == '180001'">
                and r.grade_id = 2000004
            </when>
            <when test="bo != null and bo.addrLevel != null">
                <choose>
                    <when test="bo.addrLevel == 1">
                        and r.grade_id = 2000002
                    </when>
                    <when test="bo.addrLevel == 2">
                        and r.grade_id = 2000004
                    </when>
                </choose>
            </when>
        </choose>
    </sql>

    <select id="selectStandardAddressList" resultType="org.dromara.address.domain.vo.StandardAddressVo">
        select
            <include refid="regionColumns" />
        from spc_region r
        <where>
            coalesce(r.delete_state, '0') = '0'
            <include refid="regionLevelFilter" />
            <if test="bo != null and bo.segmId != null and bo.segmId != ''">
                and r.region_id = #{bo.segmId}
            </if>
            <if test="bo != null and bo.parentSegmId != null and bo.parentSegmId != ''">
                and r.super_region_id = #{bo.parentSegmId}
            </if>
            <if test="bo != null and bo.standName != null and bo.standName != ''">
                <bind name="standNameLike" value="'%' + bo.standName + '%'" />
                and r.region_name like #{standNameLike}
            </if>
        </where>
    </select>

    <select id="selectStandardAddressPage" resultType="org.dromara.address.domain.vo.StandardAddressVo">
        select
            <include refid="regionColumns" />
        from spc_region r
        <where>
            coalesce(r.delete_state, '0') = '0'
            <include refid="regionLevelFilter" />
            <if test="bo != null and bo.segmId != null and bo.segmId != ''">
                and r.region_id = #{bo.segmId}
            </if>
            <if test="bo != null and bo.parentSegmId != null and bo.parentSegmId != ''">
                and r.super_region_id = #{bo.parentSegmId}
            </if>
            <if test="bo != null and bo.standName != null and bo.standName != ''">
                <bind name="standNameLike" value="'%' + bo.standName + '%'" />
                and r.region_name like #{standNameLike}
            </if>
        </where>
    </select>

    <select id="selectStandardAddressByRegionId" resultType="org.dromara.address.domain.vo.StandardAddressVo">
        select
            <include refid="regionColumns" />
        from spc_region r
        where r.region_id = #{regionId}
          and coalesce(r.delete_state, '0') = '0'
    </select>

    <select id="selectActiveByRegionName" resultType="org.dromara.address.domain.SpcRegion">
        select
            <include refid="regionEntityColumns" />
        from spc_region
        where coalesce(delete_state, '0') = '0'
          and region_name = #{regionName}
    </select>

    <select id="selectSearchCandidatePage" resultType="org.dromara.address.domain.vo.StandardAddressVo">
        select
            <include refid="regionColumns" />
        from spc_region r
        <where>
            coalesce(r.delete_state, '0') = '0'
            <if test="addrLevel != null">
                <choose>
                    <when test="addrLevel == 1">
                        and r.grade_id = 2000002
                    </when>
                    <when test="addrLevel == 2">
                        and r.grade_id = 2000004
                    </when>
                </choose>
            </if>
            <if test="keyword != null and keyword != ''">
                <bind name="keywordLike" value="'%' + keyword + '%'" />
                and r.region_name like #{keywordLike}
            </if>
        </where>
    </select>

</mapper>
