<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.address.mapper.SpcStationMapper">

    <select id="selectStationOptions" resultType="org.dromara.address.domain.SpcStation">
        SELECT station_id,
               china_name AS stationName,
               region_id,
               manage_type
        FROM spc_station
        WHERE manage_type = #{manageType}
        <if test="regionId != null and regionId != ''">
            AND region_id = #{regionId}
        </if>
        <if test="keyword != null and keyword != ''">
            <bind name="keywordLike" value="'%' + keyword + '%'" />
            AND (
                china_name LIKE #{keywordLike}
                OR station_id LIKE #{keywordLike}
            )
        </if>
        ORDER BY region_id ASC, china_name ASC
    </select>
</mapper>
